@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* Weights: 400, 500, 700 */

:root {
  /* ## Colors */
  /* ### Primary */
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  /* ### Neutral */
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

p {
  font-size: 16px;
}

textarea {
  resize: none;
}

.reply {
  margin-left: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}