.comment__container {
  display: grid;
}

.comment__container--reply {
  margin-left: 2rem;
}

.comment__score {
  grid-area: 3/1/4/2;
}

.comment__head {
  display: flex;
  gap: 16px;
  grid-area: 1/1/2/3;
}

.comment__head>* {
  margin-top: auto;
  margin-bottom: auto;
}

.comment__head picture,
.comment__head picture>* {
  height: 32px;
}

.comment__reply {
  grid-area: 3/2/4/3;
  text-align: right;
}

.comment__content {
  grid-area: 2/1/3/3;
}