/* comment */
.comment__container {
  display: grid;
}

.comment__container--reply {
  margin-left: 13px;
}

.comment__score {
  grid-area: 3/1/4/2;
}

.comment__head {
  display: flex;
  gap: 16px;
  grid-area: 1/1/2/3;
}

.comment__head>* {
  margin-top: auto;
  margin-bottom: auto;
}

.comment__picture>* {
  height: 32px;
}

.comment__reply {
  grid-area: 3/2/4/3;
  text-align: right;
}

.comment__content {
  grid-area: 2/1/3/3;
}

/* comment reply */
.comment__reply-grid-container {
  display: flex;
}

.comment__reply-grid-line {
  background-color: red;
  content: '';
  width: 3px;
  margin-left: 16px;
}

/* comment input */
.form {
  display: grid;
}

.form__picture {
  grid-area: 2/1/3/2;
}

.form__picture>* {
  height: 32px;
}

.form__text-input {
  grid-area: 1/1/2/3;
}

.form__button-input {
  grid-area: 2/2/3/3;
}